.Buttons {
    display: flex;
    justify-content: center;
    
    gap: 5px;
}

#Button3, #Button2, #Button1 {

    margin-top: 30px;
    width: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    background: transparent;
  

}

#Button3:hover, #Button2:hover, #Button1:hover {
    background: rgb(73, 73, 73);
    color: antiquewhite;

}

h3{
    margin-top: 10%;
    font-size: x-large;
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.scores{
    display: flex;
    justify-content: center;
}

.myscoreboard {
    height: 100px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.computerScoreBoard{
    margin: 50px;
    display: flex;
    justify-content: center;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#myscores {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#computerscores {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: blanchedalmond;
}




